* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #0a5700;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 25%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}

.escola-imagem{
    width: 35%;
}

.escola{
    background-image: linear-gradient(#0a5700,#00e05d);
    color:rgb(10, 161, 23);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 500;
}

.escola-div-conteudo{
    width: 58%;
    color: black;
}
.escola-titulo{
    padding: 24px 0;
}
